<div class="no-questions">
  <img src="/images/no-questions.svg" alt="Sem questões">
  <p>Nenhuma pergunta por aqui...</p>
  <p>Faça sua primeira pergunta e envie o <br />código da sala para seus
    amigos!</p>
</div>